.Reset-container{
  
    margin-top: 120px;
    text-align: center;
}

.reset-password-btn:hover, .view-profile-btn:hover, #edit:hover, #nav-button:hover{
    cursor: pointer;
    background-color: #94dce3;
    opacity: 0.8;
}

#edit{
    width: 200px;
    height: 50px;
    background-color: cadetblue;
    padding-top: -50px;
    text-align: center;
    position: absolute;
    right: 100px;
    bottom: 25px;
}