* {
    scroll-behavior: smooth;
}

.profile-container {
    border: 1px solid black;
    height: 600px;
    width: 75%;
}

.name-box {
    border: 1px solid black;
}

.profile-pic {
    border: 1px solid black;
}

.posted-comments {
    border: 1px solid black;
    
}