.choose_container{
    text-align: center;
}


.advanced-searchbar-container {
    border: 1px solid black;
    width: 60%;
    margin: 0 auto;
    margin-top: 40px;
    box-shadow: 2px 2px 2px gray;
}