
.App {
    /* text-align: center; */
    text-align: justify;
}
* {
    scroll-behavior: smooth;
}

:root{
    --color1: #dff2d8;
    --color2: #c6dea6;
    --color3: #7ebdc3;
    --color4: #7a6263;
    --color5: #ced097;
}

body {
    background-color: var(--color1);
}

.click-icon:hover {
    background-color: red;
}
.darkmode-switch {
    margin: 0 auto;
    position: absolute;
    left: 48%;
    z-index: 1;
}