body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFDEE9;
  background-image:radial-gradient( circle farthest-corner at -8.9% 51.2%,  rgb(197, 212, 218) 0%, rgba(207, 203, 194, 0.829) 15.9%, rgb(154, 170, 199) 15.9%, rgb(201, 180, 160) 24.4%, rgb(149, 137, 182) 24.5%, rgb(110, 143, 204) 66% );

  height: 100vh;
  background-attachment: fixed !important;


  /* background-color: aliceblue; */
  /* text-align: center; */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  scroll-behavior: smooth;
}

button:hover {
  background-color: var(--color3);
  transition: .5s ease-in;
}

.dark {
  background-color: #321d4c;
background-image:radial-gradient( circle farthest-corner at -8.9% 51.2%,  rgba(255,124,0,1) 0%, rgba(255,124,0,1) 15.9%, rgba(255,163,77,1) 15.9%, rgba(255,163,77,1) 24.4%, rgba(19,30,37,1) 24.5%, rgba(19,30,37,1) 66% );
/* color:silver; */
}
