* {
    box-sizing: border-box;
  }
:root{
    --color1: #dff2d8;
    --color2: #c6dea6;
    --color3: #7ebdc3;
    --color4: #7a6263;
    --color5: #ced097;
}



#reasonsBox {
    height: 200px;
    width: 30%;
}