.trainer-card {
    margin-top: 10px;
    margin-bottom: 10px;
    width: 50%;
}

.employee-card {
    width: 250px;
    padding-top: 25px;
    box-shadow: 2px 2px 2px gray;
    background-color: var(--color3);
}

.card-img-top {
    width: 25%;
}

.employee-columns {
    padding: 10px;
}

.employee-img {
    display: flex;
    justify-content: center;
    border-style: inset;
    height: 120px;
    padding-top: 20px;
    background-color: aliceblue;
}
.card-body {
    text-align: center;
}

/* .button-row {
    text-align: center;
} */