/* h2{
    box-sizing: border-box;
    font-family: "Concert-One", sans-serif;
    font-weight: bold;
} */

:root{
    --color1: #dff2d8;
    --color2: #c6dea6;
    --color3: #7ebdc3;
    --color4: #7a6263;
    --color5: #ced097;
}



.profile-grid{

    /* display: grid; */
    /*Column width*/
    /* grid-template-columns: 550px 700px 300px; */
    /* grid-template-rows: 400px 400px 400px; */
    /* grid-gap: 10px; */
    /* background-color: black;  */
    padding: 10px;
    
}

.profile-grid {

    /* text-align: left; */
    border: 1px solid black;
    margin-top: 40px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px gray;
}

/* .post-info-container{
    padding-top: 90px;
    padding-left: 40px;

} */


#join-date-value{
    white-space: nowrap;
    display: inline-block;
    padding-left: 20px;
}

#post-info-details{
    white-space: nowrap;
    display: inline-block;
    padding-left: 20px;
    
}

/*trainer image*/

/* .image{
    
    white-space: nowrap;
    display: inline-block;
    
} */

#trainer-favorite-img, #emoticon-img{
    font-size: 42px;
    color: red;
    padding-left: 20px;
    white-space: nowrap;
    display: inline-block;
}

/*Profile Info Container*/

/* .profile-info-container{
    padding: 40px;
    padding-top: 90px;
    align-items: center;
    
} */

#inputs{
    white-space: nowrap;
    display: inline-block;
    padding-left: 20px;
}

#password-btn{
    padding-top: 35px;
}

.reset-password-btn{
    /* width: 300px; */
    height: 50px;

    background-color: #9b7c7d;

    /* font-size: 25px; */
    color: white;
    font-weight: bold;
    border-style: none;

    text-transform: uppercase;
}

.reset-password-btn:hover{
    cursor: pointer;
    background-color: #9b7c7d;
    opacity: 0.8;

}

/*Image Container*/

.image-profile-container{
    border: 1px solid black;
    text-align: center;
}
.holder {
    /* border: 1px solid black; */
    align-items: center;
}

.square{
    width: 80px;
    height: 80px;
    background-color: rgb(1, 94, 1);
    border: none;
    /*Align letter the center of div*/
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;

    /*Moving object to right*/
    position: relative;
    left: 10.5px;
}

#user-letter{
    font-family: 'Open Sans', sans-serif;
    font-size: 50px;
    color: white;
    background: transparent;
    padding-top: 15px;
    
}

/*Button*/

.buttons-container{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
#follow-button{
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

.follow-btn, .view-profile-btn{
    width: 200px;
    font-size: 20px;
    border: none;
}
*/

.view-profile-btn{
    /* width: 290px; */
    font-size: 20px;
    border: none;
    text-transform: uppercase;
    
    /* height: 100px; */
    font-size: 25px;
    background-color: #1DA1F2;
    color: white;
}

/*
#follow{
    background-color: white;
    color: #1DA1F2;
   
}

#unfollow{
    background-color: #1DA1F2;
    color: white;
}

*/

.view-profile-btn:hover{
    cursor: pointer;
    background-color: #94dce3;
    opacity: 0.8;
}

/*Ratings by this User*/

.ratings-container, .ratings-container-1{
 /*Elements on top of each other*/
 flex-direction: column;

 /*Bring items center vertically*/
 justify-content: center;
 align-items: center;
 
 font-size: 14px;

}



.ratings-container-1{
    padding-top: 50px;

}

.ratings-title{
    width: 980px;
    height: 100px;
    /*Center text horizontally*/
    text-align: center;
    vertical-align: middle;
    font-size: 40px;

    padding-left: 390px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#ratings{
    font-size: 50px;
}

.user-container{

    text-align: center; 
    padding-top: 20px;
    background-color: purple;
    
   

    border-radius: 20%;
    padding-bottom: 20px;
    width: 1400px;
    height: 630px;
    position: relative;

    font-size: 20px;

    
    display: inline-block;

    
}

.username, .rating-score, .profile-pic{
    display: inline-block;
    color: white;
}

.username{
    margin-right: 180px;
    background-color: purple;
}

#username-input{
    padding-left: 10px;
    
}

.rating-score{
    margin-right: 180px;
    background-color: purple;
}

#username-input, #rating-score-input, #profile-pic{
    
    white-space: nowrap;
    display: inline-block;
    background-color: purple;
    
}

#rating-score-input{
    padding-left: 10px;
}

/*Image Container*/

.image-profile-container{
    padding-top: 75px;
    padding-right: 45px;
    padding-left: 40px;
    
    
}

.square-profile-post{
    width: 80px;
    height: 80px;
    background-color: rgb(1, 94, 1);

    border: none;
   

    /*Align letter the center of div*/
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 50%;

    /*Moving object to right*/
    position: relative;
    left: 10.5px;
       
}

#user-letter-post{
    font-family: 'Open Sans', sans-serif;
    font-size: 52px;
    color: white;
    background: transparent;
    padding-top: 15px;
    
}

.reasoning-container{
    padding-top: 40px;
    position: relative;
    background-color: purple;
    border-color: none;
    color: black;
}

#reasoning{
    color: white;
    padding-bottom: 10px;
}

#user-input-response{
    background-color: white;
    border-color: none;
    width: 1000px;
    height: 120px;
    text-align: left;
    position: absolute;
    right: 170px;
    /* border: solid; */
    padding: 10px;
}

.emotion-tag-container{
    padding-top: 150px;
    background-color: purple;
}

#tag-options{
    background-color: purple;
}

.emotion-container, .tag-container{
    display: inline-block;
    vertical-align: middle;
    height: 150px;
    background-color: purple;
    color: white;

    
    
}

.emotion-container{
    white-space: nowrap;
    display: inline-block;
    padding-right: 500px;
    padding-top: 30px;
    background-color: purple;
    
}

#emoticon-img, #reasoning{
    background-color: purple;
}

#emoticon{
    white-space: nowrap;
    display: inline-block;
    background-color: purple;
    
}

.tag-container{
    height: 60px;
    padding-left: 50px;
    background-color: purple;
}

#tag{
    white-space: nowrap;
    display: inline-block;
    background-color: purple;
    
}

.tag1{
    padding-left: 10px;
    background-color: purple;
}

#edit{
    width: 200px;
    height: 50px;

    background-color: cadetblue;
    color: white;
    font-size: 20px;
    letter-spacing: 2px;
    padding-top: 8px;
    font-size: 25px;
    text-align: center;
    text-transform: uppercase;

    position: absolute;
    right: 130px;

    border: none;
}

#edit:hover{
    cursor: pointer;
    background-color: #ced097;
    opacity: 0.5;
}