
.signup-container {
    text-align: center;
}
.text-container {
    /* border: 1px solid black; */
    margin-top: 40px;
}
.sign-container {
    width: 75%;
    height: 200px;
    margin: 0 auto;
    padding-top: 30px;
    
}
.top-row {
    /* border: 1px solid black; */
    align-items: center;
    justify-content: center;

    
}
.input-box {
    margin: 2px;
}
#emailInput {
    width: 65%;
}
.holder {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    margin-right: 25px;
}