.nav-search {
    width: 100%;
}
.nav-container {
    background-color: #212222;
    height: 80px;
    color: white;
}
#revRater {
    width: 45%;
}
.nav-heads{
    color: silver;
    text-decoration: none;
    font-size: 20px;
    margin-left: 5px;
    margin-right: 5px;
}
/* .darkmode-switch {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    border-radius: 50%;
} */
/* .darkmode-switch:hover {
    background-color: aliceblue;
} */
.newnavbar {
    height: 50px;
    margin-top: 20px;
}
.advanced-search-bar {
    border: 1px solid black;
    width: 40%
}

.status-and-switch {
    border: 1px solid black;
    width: 15%;
}

.user-profile-icon {
    color: silver;
}